# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Distribution & Build
dist/
build/
*.spec
*.exe

# Logs & Data
*.log
nexus_pin.txt
nexus_debug.log

# Environment
.env
.DS_Store

# IDE
.vscode/
.idea/
